/* 大小切換 */
#check:checked ~ .center{
    margin-left: 400px;
    transition: .5s;
}

/* 訂單編號 */
.center{
    width: 70%;
    /* height: 500px; */
    margin: 50px 225px;
    padding: 0 50px;
}
.center h4{
    border-left: solid #fa8072;
    padding: 0 5px;
    /* margin-bottom: 5px; */
    margin: 0 10px;
}
.div_wishList{
    display: flex;
    padding: 10px;
    /* border-bottom: ridge; */
}
.center p{
    margin-bottom: 10px;
}
.div_order{
    font-size: 14px;
    /* height: 200px; */
    margin-bottom: 50px;
}
.div_order .div_orderTitle{
    height: 100px;
}
.div_orderTitle table{
    width: 100%;
    text-align: center;
}
.div_order table th{
    border-top: 1px solid #000;
    border-bottom: 1px solid #ccc;
}
.div_orderList table td span{
    text-align: left;
}
.div_order table th,
.div_order table td{
    padding: 0.6em 0.5em;
}
.center a{
    color: #000;
    text-decoration: none;
}
.center a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* 訂單明細 */
.div_orderList{
    line-height: 1.5;
    display: none;
    transition: .3s ease;
    margin-bottom: 100px;
}
.div_orderList.action{
    display: inline-block;
    transition: .3s ease;
}
.div_orderList table{
    width: 100%;
    text-align: center;
}
.div_orderList td span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 420px;
}
.div_orderList td span:hover{
    opacity: 0.5;
}
/* 訂購資料 */
.detail_price ul{
    list-style: none;
    margin-top: 10px;
    float: right;
    width: 165px;
}
.detail_price ul li{
    border-top: 1px solid #696969;
    padding: 5px 0 ;
}
.detail_price ul li span{
    font-weight: bold;
    display: inline-block;
    min-width: 76px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.div_orderList h5{
    margin-top: 10px;
}
/* 無訂單資料 */
.no-order{
    position: relative;
    width: 100%;
    text-align: center;
    top: 160px;
    display: none;
}
.no-order i{
    color: #e8e8e8;
    font-size: 60px;
}
.no-order p{
    margin-top: 10px;
}