<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1.0" />
		<title>Buy-Shop</title>
		<link rel="stylesheet" type="text/css" href="css/product-deal.css" />    
    </head>
	<body>
        <!-- 目錄 -->
        <div class="title-center">
            <div>
              <img class="img_logo" src="image/eating.png">
            </div>
            <div class="title-content">
              <div id="menu">
                <ul>              
                  <li> <a href="#">商品分類</a>
                    <ul>
                      <li> <a href="#">人氣商品推薦</a>                    
                      </li>
                      <li> <a href="#">素食零食</a>
                        <ul>
                          <li><a href="#">此分類全部商品</a></li>
                          <li><a href="#">純素/全素</a></li>
                          <li><a href="#">奶蛋素</a></li>
                          <li><a href="#">植物五辛素</a></li>
                        </ul>
                      </li>
                      <li> <a href="#">國家選擇</a>
                        <ul>
                          <li><a href="#">此分類全部商品</a></li>
                          <li><a href="#">台灣</a></li>
                          <li><a href="#">日韓</a></li>
                          <li><a href="#">歐美</a></li>
                          <li><a href="#">東南亞</a></li>
                        </ul>
                      </li>
                      <li> <a href="#">口味選擇</a>
                        <ul>
                          <li><a href="#">此分類全部商品</a></li>
                          <li><a href="#">鹹</a></li>
                          <li><a href="#">甜</a></li>
                          <li><a href="#">辣</a></li>
                        </ul>
                      </li>                  
                    </ul>
                  </li>
                  <li> <a href="#">必吃排行榜</a>                  
                  </li>
                  <li> <a href="#">Q&A</a>
                    <ul>
                      <li> <a href="#">付款方式</a></li>
                      <li> <a href="#">運送方式</a></li>
                      <li> <a href="#">退換貨方式</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div>
                <img class="search_logo" src="image/search_img.png">
                <div>
                  <input type="text" placeholder="SEARCH" class="title-text">
                </div>              
              </div> 
              <div id="menu" style="width: 200px;">
                <ul>
                  <li> 
                    <img class="account_logo" src="image/account_img.png">
                    <a href="#">                  
                      <span class="account">ACCOUNT</span> 
                    </a>
                    <ul>
                      <li> <a href="#">訂單查詢</a></li>                    
                      <li> <a href="#">會員登入</a></li>
                    </ul>
                  </li>
                </ul>              
              </div>
              <div>
                <img class="cart_logo" src="image/cart_img.png">
                <div class="cart">CART</div>              
              </div>                    
            </div>          
          </div>
          <!-- 商品資訊 -->
          <div class="contect">              
            <img class="product_img" src="image/蜂蜜奶油.jpg">                  
              
            <div class="product_contect">
                <p>【英國】Gnaw松鼠啃無添加手工巧克力100g-軟焦糖/海鹽焦糖/覆盆莓/杏仁太妃糖海鹽/香蕉太妃派/草莓白巧克力/果乾和餅乾牛奶</p>
                <p class="product_txt">NT$38</p>    
                <p>口味</p>   
                <input type="button" value="蜂蜜奶油" class="input_button">
                <input type="button" value="芥末"class="input_button">
                <p>數量</p>
                <div class="product_num">
                    <span class="decrease">一</span>
                    <span class="qty">1</span>
                    <samp class="increase">十</samp>                    
                </div>  
                <div>
                    <input id="add_btn" type="button" value="加入購物車" class="input_button input_button_1">
                    <input type="button" value="立即結帳" class="input_button input_button_2">
                </div>     
            </div>

            <div class="product_hr">
                <div class="product_txt1">詳細說明</div>
            </div>
            <div style="text-align: center;">
                <img style="width: 700px; height: 700px;" src="image/蜂蜜奶油.jpg">
                <img style="width: 700px; height: 700px;" src="image/蜂蜜奶油.jpg">
                <img style="width: 700px; height: 700px;" src="image/蜂蜜奶油.jpg">                             
            </div>
            <!-- <br>
            <hr>
            <br>  
            <div >
                <p>商品特色</p>
                <p>賞味期限：蜂蜜奶油2022/01/12 芥末(山葵)2022/02/07</p>
                <p>銷售重點</p>
                <p>韓國必買零食第一名！！！蜂蜜和奶油的完美結合，配上營養好吃的杏仁果，鹹鹹甜甜好滋味，讓人欲罷不能。
                蜂蜜奶油：最熱銷最經典口味，奶味十足又充滿蜂蜜香。
                芥末：溫和芥末味，不過於刺激卻又讓人上癮。</p>
                
            </div> -->
          </div>
          

          <!-- 最底下資訊欄 -->
        <div class="hr_color"></div>
        <div style="margin-left:180px;">
          <table class="table">
            <tr>
              <th class="tr">關於我們</th>
              <th class="tr">購物說明</th> 
              <th class="tr">客服資訊</th>
            </tr>
            <tr>
              <td>品牌故事</td>
              <td>付款方式</td>
              <td>客服留言</td>
            </tr>
            <tr>
              <td>商店簡介</td>
              <td>運送方式</td>
              <td>常見問題</td>
            </tr>
            <tr>
              <td>隱私權及網站使用條款</td>
              <td>退換貨方式</td>
              <td>會員權益聲明</td>
            </tr>
            <tr>
              <td>
                <a href="#" class="seller_account">賣家中心</a>
              </td>
              <td></td>
              <td>聯絡我們</td>
            </tr>              
          </table>        
        </div>
        <div class="company_txt">
          <span>© 2021 by 嘴饞國際開發股份有限公司</span>
        </div> 
    </body>
    <script src="js/product_detail.js"></script>
</html>