<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1.0" />
    <title>Buy-Shop</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/sidebar.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@800&family=ZCOOL+QingKe+HuangYou&family=ZCOOL+XiaoWei&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div id="hidebg" class="hidebg"></div>
    <!-- 忘記密碼 -->
    <!-- <div class="forget_pas_div" id="forget_password">
        <h2 class="h2_style">忘記密碼</h2>
        <div class="margin_div">
            <label>會員帳號</label>
            <input type="email" placeholder="e-mail" class="member_input">
        </div>
        <div class="forget_pas_div_1">
            <button class="btn_signin btn_forget_pas" onclick="cancel()">取消</button>
            <button class="btn_signin btn_forget_pas" onclick="submit()">提交</button>
        </div>
    </div> -->
    <!-- 賣家登入 -->
    <div class="seller_singin" id="seller_singin">
        <h2>賣家登入</h2>
        <div class="margin_div">
            <label>賣家帳號</label>
            <input type="email" placeholder="e-mail" class="member_input">
        </div>
        <div class="margin_div">
            <label>賣家密碼</label>
            <input type="password" class="member_input">
        </div>
        <div class="forget_pas_div_1">
            <button class="seller_btn btn_forget_pas" onclick="seller_btn()">登入</button>
        </div>
    </div>
    <!-- 目錄--side_bar -->
    <input type="checkbox" id="check">
    <h1 class="logo_div" onclick="home()">EATING</h1>
    <div class="menu_btn animated">
        <label for="check" class="pointer">
            <i class="fas fa-utensils"></i>
        </label>
    </div>
    <div class="side_bar" id="side_bar">
        <div class="close_btn">
            <label for="check" class="pointer">
                <i class="fas fa-times"></i>
            </label>
        </div>
        <div class="logo" onclick="home()">
            <h1>EATING</h1>
        </div>
        <div class="menu" id="menu">
            <div class="search_div">
                <input type="text" placeholder="Search..." onfocus="this.placeholder=''"
                    onblur="this.placeholder='Search...'" class="search" id="search_word">
                    <button type="button" onclick="search()" id="search_btn">
                        <img src="image/search_img.png" class="search_img">
                    </button>
            </div>
            <div class="item">
                <a href="#">
                    <i class="fas fa-crown"></i>人氣商品
                </a>
            </div>
            <div class="item">
                <a class="sub_btn" id="sub_btn">
                    <i class="fas fa-globe-asia"></i>國家選擇
                    <i class="fas fa-angle-down down_btn" id="down_btn"></i>
                </a>
                <div class="sub_menu" id="sub_menu">
                    <div class="wrap">
                        <a href="/product:100" class="sub_item">All 所有</a>
                        <a href="/product:1001" class="sub_item">TAIWAN 台灣</a>
                        <a href="/product:1002" class="sub_item">JAPAN & KOREA 日韓</a>
                        <a href="/product:1003" class="sub_item">EUROPE & AMERICA 歐美</a>
                        <a href="/product:1004" class="sub_item">SOUTHEAST ASIA 東南亞</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="sub_btn" id="sub_btn1">
                    <i class="fas fa-seedling"></i>素食選擇
                    <i class="fas fa-angle-down down_btn" id="down_btn1"></i>
                </a>
                <div class="sub_menu" id="sub_menu1">
                    <div class="wrap">
                        <a href="/product:200" class="sub_item">All 所有</a>
                        <a href="/product:2001" class="sub_item">純素/全素</a>
                        <a href="/product:2002" class="sub_item">奶蛋素</a>
                        <a href="/product:2003" class="sub_item">植物五辛素</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="sub_btn" id="sub_btn2">
                    <i class="fas fa-teeth"></i>口味選擇
                    <i class="fas fa-angle-down down_btn" id="down_btn2"></i>
                </a>
                <div class="sub_menu" id="sub_menu2">
                    <div class="wrap">
                        <a href="/product:300" class="sub_item">All 所有</a>
                        <a href="/product:3001" class="sub_item">SALTY 鹹</a>
                        <a href="/product:3002" class="sub_item">SWEET 甜</a>
                        <a href="/product:3003" class="sub_item">SPICY 辣</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="sub_btn" id="sub_btn3">
                    <i class="fas fa-user"></i>會員專區
                    <i class="fas fa-angle-down down_btn" id="down_btn3"></i>
                </a>
                <div class="sub_menu" id="sub_menu3">
                    <div class="wrap">
                        <a href="/order.html" class="sub_item">訂單查詢</a>
                        <a href="/account_profile.html" class="sub_item">會員資料</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 收藏 會員登入 購物車 -->
    <header id=header></header>
    <header>
        <div class="header_menu">
            <div class="header_div">
                <a href="/like.html">
                    <i class="far fa-heart"></i>
                </a>
            </div>
            <div class="button1">
                <div class="header_div">
                    <a id="a_change" href="/login.html">
                        <i class="far fa-user"></i>
                    </a>
                </div>
                <div class="img_div" style="display: none;">
                    <ul class="hover">
                        <li class="list_style">
                            <button style="display: none;" class="sing" id="signdelete" onclick="signdelete()">
                                會員登出
                            </button>
                        </li>
                        <li class="list_style">
                            <div class="out" style="display: none;" onMouseOver="this.className='out_after1';"
                                onMouseOut="this.className='out';" id="orders" onclick="orders()">訂單查詢
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="button2">
                <div class="header_div">
                    <a href="/cart.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="img_div">
                    <ul class="hover">
                        <li class="list_style list_style2">
                            總計:NT$0
                        </li>
                        <li class="list_style">
                            <button class="out_after1 active_btn" onclick="cart()">
                                立即結帳
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- scroll back to top -->
    <div id="top_btn">
        <a title="GO TO TOP">
            <i class="fas fa-arrow-circle-up"></i>
        </a>
    </div>

    <!-- 登入 -->
    <div class="member_background">
        <div class="center">
            <div class="logo_title_bg">
                <div class="logo_title pointer">
                    <a href="#" id="signin_btn" class="b_style a_style a_border_right text_weight "
                        style="text-decoration: none; color:#fa8072" onclick="change(1)">
                        <span>會員登入</span>
                        <span>Sing in</span>
                    </a>
                    <a href="#" id="register_btn" class="a_style text_weight"
                        style="text-decoration: none; color: black;" onclick="change(2)">
                        <span>會員註冊</span>
                        <span>Register</span>
                    </a>
                </div>
            </div>
            <!-- 會員登入 -->
            <div id="login">
                <div class="margin_div">
                    <label>帳號</label>
                    <input type="email" placeholder="e-mail" class="member_input" id="signin_email">
                    <span id="account_id" class="error">請輸入帳號</span>
                </div>
                <div class="margin_div">
                    <label>密碼</label>
                    <input type="password" class="member_input" id="signin_password">
                    <span id="password_id" class="error">請輸入密碼</span>
                </div>
                <div class="margin_div margin_div_right">
                    <!-- <a href="#" class="txt-a" onclick="forget_password()">忘記密碼</a> -->
                    <a href="#" class="txt-b" onclick="seller_singin()" id="seller_btn">賣家登入</a>
                </div>
                <div class="singin_div">
                    <button class="btn_signin" id="singin_enter" onclick="signin()">登入</button>
                </div>
            </div>
            <!-- 會員註冊 -->
            <div id="register" style="display: none;">
                <div class="margin_div">
                    <label>電子郵件帳號</label>
                    <input type="email" placeholder="email@example.com" class="member_input" id="sign_email">
                    <span id="account_email" class="error">請輸入電子郵件帳號</span>
                    <span id="account_email_error" class="error">帳號格式錯誤(ex:email@example.com)</span>
                </div>
                <div class="margin_div">
                    <label>設定密碼</label>
                    <input type="password" class="member_input" id="sign_password">
                    <span id="set_password" class="error">請輸入設定密碼</span>
                </div>
                <div class="margin_div">
                    <label>確認密碼</label>
                    <input type="password" class="member_input" id="sign_password2">
                    <span id="ensure_password" class="error">請輸入確認密碼</span>
                    <span id="different_password" class="error">設定密碼與確認密碼不一致</span>
                </div>
                <div class="singin_div">
                    <button class="btn_signin" id="register_enter" onclick="register()">註冊</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 最底下資訊欄 -->
    <div class="hr_color"></div>
    <div class="botminfo_div">
        <table class="table-style">
            <tr>
                <th class="tr">關於我們</th>
                <th class="tr">購物說明</th>
                <th class="tr">客服資訊</th>
            </tr>
            <tr>
                <td>品牌故事</td>
                <td>付款方式</td>
                <td>客服留言</td>
            </tr>
            <tr>
                <td>商店簡介</td>
                <td>運送方式</td>
                <td>常見問題</td>
            </tr>
            <tr>
                <td>隱私權及網站使用條款</td>
                <td>退換貨方式</td>
                <td>會員權益聲明</td>
            </tr>
            <tr>
                <td></td>
                <td>聯絡我們</td>
            </tr>
        </table>
    </div>
    <div class="company_txt">
        <span>© 2021 by 嘴饞國際開發股份有限公司</span>
    </div>
</body>
<script src="js/login.js"></script>
<script src="js/sidebar.js"></script>

</html>